<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1>Login Page</h1>

    <form action="#" method="get">
        <label for="id">ID : </label>
        <input type="text" id="id"> <br>

        <label for="paswrd">PASSWORD : </label>
        <input type="password" id="paswrd">

        <button>Sumbit!</button>
    </form>

    <hr>

    <a href="/">go main page</a>

    <script src="/js/home/login.js" defer></script>
</body>
</html>